/* grid template : col,row length / ratio */
/* fr is shorthand for fraction */
.form {
    display: grid;
    /* grid-template: row1Height row2Height / column1Ratio column2Ratio */
    grid-template: 40px / 3fr 1fr;
    gap: 20px;
}

.metadata{
    align-items: center;
}

.naru {
    height: auto;
    max-width: 20%;
    border-radius: 4px;
    margin-top: 1rem;
}
